<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="szulc.magdalena.fitpost">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:icon="@drawable/add_meal"
            android:label="@string/app_name"
            android:roundIcon="@drawable/add_meal"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".TimerSetTimeActivity">
        </activity>

        <receiver
                android:name="receivers.TimerNotificationReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="stop"/>
                <action android:name="start"/>
                <action android:name="pause"/>
                <action android:name="resume"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name="receivers.TimerExpiredReceiver"
                android:enabled="true"
                android:exported="true">
        </receiver>
        <receiver android:name="mastodon.AppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/app_widget_info"/>
        </receiver>

        <provider
                android:name="providers.DataContentProvider"
                android:authorities="szulc.magdalena.fitpost.mastodon.provider.DataContentProvider"
                android:enabled="true"
                android:exported="true">
        </provider>

        <service
                android:name="services.UpdateIntentService"
                android:exported="false">
        </service>

        <activity
                android:name=".MainActivityOLD"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".mastodon.AboutActivity"/>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>